<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles.css') }}"
        />
    <title>About || Biodiversity Explorer</title>
</head>
<body>

    <header>
        <h1 class="heading">Biodiversity Explorer</h1>
        <h3 class="subheading">Your Nature Guide Simplified</h3>
        <hr>
        <nav>
            <ul>
                <li class="nav-item none-list"><a href="/" class="link-item ">Home</a></li>
                <li class="nav-item none-list"><a href="/about" class="link-item">About</a></li>
                <li class="nav-item none-list"><a href="/faq" class="link-item">FAQ</a></li>
                <li class="nav-item none-list"><a href="/contact" class="link-item">Contact</a></li>
            </ul>
        </nav>
    </header>
    
</body>
</html>